@charset "UTF-8";
/* 기본 셋업 */
.mypage_funding_Form_outer{width:100%; height: 1000px; padding: 0 300px; border: box-sizing;}
.mypage_funding_Form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.mypage_funding_Form_main{height: 80%;}
.mypage_funding_Form_main>div{height: 100%;}

.mypage_funding_Form_left{width: 200px;}
.mypage_funding_Form_right{width: 1101px; background-color: white;}

.mypage_funding_Form_right>div{width: 100%;}
.mypage_funding_Form_right_content1{height: 100%;}

.mypage_funding_Form_right_content1>div{width: 100%;}
.mypage_funding_Form_right_root{height: 34px;}
.mypage_funding_Form_right_title{height: 55px; padding-top: 7px;}
.mypage_funding_Form_right_list{height: 84%;}

.mypage_funding_Form_right_list>div{width: 100%;}
.mypage_funding_Form_right_list_inside{height: 90%;}
.funding_bottom_area{height: 10%; margin-top: 20px;}

.mypage_funding_Form_right_list>div>div{width: 100%;}
.funding_btn_area{height: 10%; border-bottom: 0.5px solid lightgray;}
.funding_btn_area>div{height: 100%;}
.funding_btn{width: 30%; padding: 17px 0 0 10px;}
.funding_cnt{width: 70%; text-align: right; padding: 17px 10px 0 0;}
.funding_funding_area{height: 90%; overflow: auto;}
.funding_funding_area::-webkit-scrollbar {display:none;}

.funding_funding_area>div{width: 100%; height: 50px;}
.funding_thing>div{height: 100%; border-top: 0.5px solid lightgray;}
.funding_index{width: 5%;}
.funding_category{width: 9%;}
.funding_tag{width: 9%;}
.funding_img{width: 5%;}
.funding_project{width: 32%;}
.funding_amount{width: 15%; padding-right: 30px;}
.funding_percentage{width: 10%; padding-right: 25px;}

.funding_index_top{width: 5%;}
.funding_category_top{width: 9%;}
.funding_tag_top{width: 9%;}
.funding_img_top{width: 37%;}
.funding_amount_top{width: 15%;}
.funding_percentage_top{width: 10%;}

.funding_btn_area button{background-color: white; border:none;}

.funding_funding_area>div{width: 100%; transition: transform 0.3s ease-in-out;}
.funding_funding_area>div:hover{cursor: pointer; transform: scale(1.01);}
.funding_obj>div{height: 100%; border-bottom: 0.5px solid lightgray;}
.funding_area_left{width: 12%;}
.funding_area_blank{width:2%;}
.funding_area_right{width: 86%;}

.funding_area_right>div{width: 100%;}
.funding_area_right_row1{height: 30%; padding-top: 5px;}
.funding_area_right_row2{height: 70%; padding: 2px 5px 0 0;}

.funding_area_right_row1>div{height: 100%; padding-top: 1px;}
.funding_area_right_row1_title{width: 17%; text-align: center; text-align: left;}
.funding_area_right_row1_title>span{border-bottom: 2px solid black;}
.funding_area_right_row1_blank{width: 63%;}
.funding_area_right_row1_date{width: 20%; text-align: right; padding-right: 10px;}

.noNotices{margin-top: 230px;}
.current{color: skyblue;}

.funding_bottom_area button{
	width: 30px;
	border: none;
	background-color: white;
	margin: 0 3px;
}

.funding_bottom_area button:hover{
	font-weight: bold;
}
/* 메인 영역 끝 */
