@charset "UTF-8";
/* 기본 셋업 */
.mypage_recent_Form_outer{width:100%; height: 1000px; padding: 0 300px; border: box-sizing;}
.mypage_recent_Form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.mypage_recent_Form_main{height: 80%;}
.mypage_recent_Form_main>div{height: 100%;}

.mypage_recent_Form_left{width: 200px;}
.mypage_recent_Form_right{width: 1101px; background-color: white;}

.mypage_recent_Form_right>div{width: 100%;}
.mypage_recent_Form_right_content1{height: 100%;}

.mypage_recent_Form_right_content1>div{width: 100%;}
.mypage_recent_Form_right_root{height: 34px;}
.mypage_recent_Form_right_title{height: 55px; padding-top: 7px;}
.mypage_recent_Form_right_list{height: 84%;}

.mypage_recent_Form_right_list>div{width: 100%;}
.recent_btn_area{height: 10%; border-bottom: 0.5px solid lightgray;}
.recent_btn_area>div{height: 100%;}
.recent_btn{width: 30%; padding: 17px 0 0 10px;}
.recent_cnt{width: 70%; text-align: right; padding: 17px 10px 0 0;}
.recent_recent_area{height: 90%; overflow: auto;}
.recent_recent_area::-webkit-scrollbar {display:none;}

.recent_btn_area button{background-color: white; border:none;}

.recent_recent_area>div{width: 100%; height: 20%; transition: transform 0.3s ease-in-out;}
.recent_recent_area>div:hover{cursor: pointer; transform: scale(1.01);}
.recent_obj>div{height: 100%; border-bottom: 0.5px solid lightgray;}
.recent_area_left{width: 12%;}
.recent_area_blank{width:2%;}
.recent_area_right{width: 86%;}

.recent_area_right>div{width: 100%;}
.recent_area_right_row1{height: 30%; padding-top: 5px;}
.recent_area_right_row2{height: 70%; padding: 2px 5px 0 0;}

.recent_area_right_row1>div{height: 100%; padding-top: 1px;}
.recent_area_right_row1_title{width: 17%; text-align: center; text-align: left;}
.recent_area_right_row1_title>span{border-bottom: 2px solid black;}
.recent_area_right_row1_blank{width: 63%;}
.recent_area_right_row1_date{width: 20%; text-align: right; padding-right: 10px;}

.noNotices{margin-top: 230px;}
.current{color: skyblue;}

.recent_recent_area>div{width: 100%; height: 100%;}
.member_pr_form>div{width: 100%; height: 95px; margin: 19px 0; transition: transform 0.3s ease-in-out;}
.member_pr_form>div:hover{transform: scale(1.1); cursor: pointer;}

.member_pr_recent>div{height: 100%;}
.pr_img{width: 25%;}
.pr_blank{width: 3%;}
.pr_content{width: 72%;}

.pr_content>div{width: 100%;}
.pr_content_title{height: 30%;}
.pr_content_overview{height: 70%;}

.pr_content_title>div{height: 100%;}
.pr_content_ct{width: auto;}
/* 메인 영역 끝 */
