@charset "UTF-8";
/* 기본 셋업 */
.member_search_id_pw_form_outer{width:100%; height: 1000px;}
.member_search_id_pw_form_outer>div{width:100%;}
.blank_top{height: 5%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.member_search_id_pw_form_main{height: 80%;}

.member_search_id_pw_form_outer *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow{
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
}

.search-id-pw-form-container{
 
    background:#f5f5f5 ;
    width:860px;
    height: 540px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 10px;
}

.search-id-pw-form-left-side{
    width: 50%; 
    border-radius: 10px 0px 0px 10px;
    padding:75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: 
  radial-gradient(ellipse farthest-corner at 0 140%, #5d9dff 0%, #2178ff 70%, #3585ff 70%);
}

.search-id-pw-form-left-side h1{
    color: white;
    width:100%;
    text-align: right;
    opacity: 0.9;
}

.search-id-pw-form-left-side p{
    padding-top: 50px;
    font-size:12px;
    text-align: right;
    opacity: 0.8;
}

.search-id-pw-form-right-side{
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    display: flex;

    flex-direction: column;
    align-items: center;
    padding:40px;
    background: rgb(255,255,255);
	background: linear-gradient(287deg, rgba(255,255,255,1) 0%, rgba(243,244,244,1) 0%, rgba(255,255,255,1) 100%);
}
.search-id-pw-form-right-side .search-id-pw-top-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
.search-id-pw-form-right-side .search-id-pw-top-wrap span{
    color: gray;
    font-size: 11px;
    padding-right:20px;

}
.search-id-pw-form-right-side .search-id-pw-top-wrap .create-account-btn {
    background: white;
    border:  0;
    width:85px;
    height: 35px;
    font-size: 11px;
    color: #2178ff;
    border-radius: 3px;

}
.search-id-pw-input-container{
    padding-top:40px;
    width:300px;
}
.search-id-pw-input-container .search-id-pw-input-wrap{
    width:300px;
    height: 45px;
    margin-top: 20px;
    border-radius: 2px;
    border-bottom: solid 2px #2178ff;
}
.search-id-pw-input-container .search-id-pw-input-wrap i{
    color: #2178ff;
    line-height: 45px;
}

.search-id-pw-input-container .search-id-pw-input-wrap input{
    background: none;
    border: none;
    line-height: 45px;
    padding-left:10px;
    width:267px;
}
.search-id-pw-input-container .search-id-pw-input-wrap input:focus{
	border: none;
    outline: none;
}
.search-id-pw-btn-wrap{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.search-id-pw-btn-wrap .search-id-pw-btn{
    width:95px;
    height:35px;
    color:white;
    border: 0;
    border-radius: 4px;
    background: rgb(105,163,255);
	background: linear-gradient(162deg, rgba(105,163,255,1) 0%, rgba(43,125,254,1) 50%, rgba(43,125,254,1) 100%);
}
.search-id-pw-btn-wrap a{
    margin-top:10px;
    text-decoration: none;
    font-size: 11px;
    color: gray;
}






/* 메인 영역 끝 */