@charset "UTF-8";
.mypage_update_Form_outer{width:100%; height: 1000px; padding: 0 300px; border: box-sizing;}
.mypage_update_Form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

.mypage_update_Form_main{height: 80%;}
.mypage_update_Form_main>div{height: 100%;}

.mypage_update_Form_left{width: 200px;}
.mypage_update_Form_right{width: 1101px; background-color: white;}

.mypage_update_Form_right>div{width: 100%;}
.mypage_update_Form_right_content1{height: 70%;}
.mypage_update_Form_right_content2{height: 29%; margin-top: 10px;}

.mypage_update_Form_right_content1>div{width: 100%;}
.mypage_update_Form_right_root{height: 34px;}
.mypage_update_Form_right_title{height: 55px; padding-top: 7px;}
.mypage_update_Form_right_info{height: 79%;}

.mypage_update_Form_right_info>div{height: 100%;}
.mypage_update_picture{width: 35%; padding: 40px;}
.mypage_update_picture>div{width: 100%; height: 100%;}
.mypage_update_picture_outline>div{width: 100%;}
.mypage_update_picture_org{height: 80%; text-align: center; padding-top: 50px;}
.mypage_update_picture_upload{height: 20%; text-align: center;}
#file-area{display:none;}

.mypage_update_etc{width: 65%; padding: 30px;}
.mypage_update_etc>table{width: 100%; height: 50%;}
.mypage_update_etc_table input, .mypage_update_etc_table textarea{width: 100%; height: 100%; border: none;}
.mypage_update_etc_table td{padding-left: 5px;}

.mypage_update_Form_right_content2>div{width: 100%;}
.mypage_update_Form_right_title2{height: 20%;}
.mypage_update_Form_right_btn{height: 80%; text-align: center;}
.mypage_update_Form_right_submitBtn{margin-right: 20px;}

.update-input-wrap{
    width:300px;
    height: 45px;
    margin-top: 20px;
    border-radius: 2px;
    border-bottom: solid 2px #2178ff;
}
.update-input-wrap i{
    color: #2178ff;
    line-height: 45px;
}

.update-input-wrap input{
    background: none;
    border: none;
    line-height: 45px;
    padding-left:10px;
    width:267px;
}
.update-input-wrap input:focus{
	border: none;
    outline: none;
}

.update-btn{
    width:105px;
    height:35px;
    color:white;
    border: 0;
    border-radius: 4px;
    background: rgb(105,163,255);
	background: linear-gradient(162deg, rgba(105,163,255,1) 0%, rgba(43,125,254,1) 50%, rgba(43,125,254,1) 100%);
}

.modal-dialog{
	position: relative;
    width: auto;
    min-width: 500px;   
    margin: auto;
    top: 20%;
    transform: translateY(-50%);
}
