@charset "UTF-8";
/* 기본 셋업 */
.announcement_center_outer{width:100%; height: 1000px; padding: 0 350px;}
.announcement_center_outer>div{width:100%;}
.blank_top{height: 10%;}
.blank_bottom{height: 1%;}

/* 메인 영역 시작 */
.announcement_center_main{height: 65%;}
.announcement_center_main>div{width: 100%;}
.announcement_center_main_top{height: 85px;}
.announcement_center_main_navi{height: 42.5px;}
.announcement_center_main_select{height: 8.5px;}
.announcement_center_main_content{height: 91%; padding: 50px;}
.announcement_center_main_bottom{
	height: 2%; 
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

.announcement_center_main_top>div{width: 100%;}
.announcement_center_main_top_row1{height: 70%;}
.announcement_center_main_top_row2{height: 30%;}
.announcement_center_main_top_row1_title{text-align: center; margin-top: 6px;}
.announcement_center_main_top_row2_bottom{width: 5%; margin: auto; border-top: 2px solid black;}

.announcement_center_main_navi>div{width: 25%; height: 100%; line-height:170%; font-size: 25px; font-weight: 600; text-align: center;}
.announcement_center_main_navi a{color: black; text-decoration: none; display: block;}
.announcement_center_main_navi div:hover, .announcement_center_main_navi a:hover {text-decoration: none; color: lightskyblue;}

.announcement_list_area{width: 100%; height: 100%; border: none; text-align: center;}
.announcement_list_area thead{height: 47px; border-top: 1px solid black;}
.announcement_list_area>tbody>tr:hover{background-color: #f3f3f3; cursor: pointer;}

.no-border{
	border: none !important;
    user-select: none;
    pointer-events: none;
}

.announcement_list_area, .announcement_list_area th, .announcement_list_area td {
    border-collapse: collapse;
}

.announcement_list_area th, .announcement_list_area td {
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
}

.announcement_center_main_bottom button{
	width: 30px;
	border: none;
	background-color: white;
	margin: 0 3px;
}

.announcement_center_main_bottom button:hover{
	font-weight: bold;
}


/* 메인 영역 끝 */
