@charset "UTF-8";
/* 기본 셋업 */
.faq_center_outer{width:100%; height: 1000px; padding: 0 350px;}
.faq_center_outer>div{width:100%;}
.blank_top{height: 10%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.faq_center_main{height: 85%;}
.faq_center_main>div{width: 100%;}
.faq_center_main_top{height: 85px;}
.faq_center_main_navi{height: 42.5px;}
.faq_center_main_select{height: 8.5px;}
.faq_center_main_content{height: 81%; padding: 50px;}
.faq_center_main_bottom{
	height: 4%; 
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

.faq_center_main_top>div{width: 100%;}
.faq_center_main_top_row1{height: 70%;}
.faq_center_main_top_row2{height: 30%;}
.faq_center_main_top_row1_title{text-align: center; margin-top: 6px;}
.faq_center_main_top_row2_bottom{width: 5%; margin: auto; border-top: 2px solid black;}

.faq_center_main_navi>div{width: 25%; height: 100%; line-height:170%; font-size: 25px; font-weight: 600; text-align: center;}
.faq_center_main_navi a{color: black; text-decoration: none; display: block; transition: transform 0.3s ease-in-out;}
.faq_center_main_navi div:hover, .faq_center_main_navi a:hover {text-decoration: none; color: lightskyblue; transform: scale(1.1);}

.guide{height: 700px; margin-top: 30px;}
.pj{
	border: 0.5px solid lightskyblue;
	width: 1100px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	border-radius: 10px;
	padding-left: 10px;
}
.pj:hover{background-color: lightskyblue;}

.content{
	border: 0.5px solid light skyblue;
	width: 1100px;
	height: 50px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 15px 10px 10px 10px;
	box-sizing: border-box;
	display: none;
	margin-bottom: 10px;
}

div{border: 0;}

/* 메인 영역 끝 */