@charset "UTF-8";

.adm-content {
    position: relative;  /* 추가 */
    width: calc(100% - 70px);  /* 컨텐츠의 초기 너비를 사이드바의 너비에 맞게 설정 */
    height: auto;
    padding: 20px;
    left: 70px;  /* 헤더의 초기 위치를 사이드바의 너비에 맞게 설정 */
    top: 55px;
    transition: width 0.5s, left 0.5s;  /* 컨텐츠의 너비와 위치가 0.5초 동안 변하도록 설정 */
    background-color: #f8f9fa;
    overflow: auto;
}

.adm-content>div{width: 100%;}
.adm-content-top{height: 55px; margin-bottom: 20px;}
.adm-content-center{height: 700px; margin-bottom: 80px;}

.adm-content-top>div{height: 100%;}
.adm-content-top-title{width: 20%;}
.adm-content-top-blank{width: 70%;}
.adm-content-top-root{width: 10%;}

.adm-content-top-root>div{height: 100%; line-height: 50px;}
.adm-content-top-root-first{width: 49%; text-align: right; padding-right: 5px;}
.adm-content-top-root-third{width: 49%; padding-left: 5px;}
.adm-content-top-root-second{width: 2%;}

.adm-content-center>div{width: 100%; border-radius: 5px; border: 0.5px solid lightgray; border-radius: 5px; background-color: white;}
.adm-content-center-top{height: 5%; margin-bottom: 20px; padding: 9px 0 0 20px;}
.adm-content-center-main{height: 95%;}

.adm-content-center-main>div{width: 100%;}
.adm-content-center-main-header{height: 5%; background-color: #f8f9fa; border-bottom: 0.5px solid lightgray; padding: 8px 0 0 17px;}
.adm-content-center-main-body{height: 95%; padding: 25px;}

.adm-content-center-main-body>div{width: 100%; padding: 0 250px;}
.adm-content-center-main-body-top{height: 14%; margin-bottom: 15px;}
.adm-content-center-main-body-content{height: 85%;}

.adm-content-center-main-body-top-search{width: 34%; height: 100%; padding-top: 10px;}
.adm-content-center-main-body-top-search-input{width: 55%; height: 50%; margin-left: 12px;}
.adm-content-center-main-body-top-search-input>input{width: 100%; height: 100%; border: none; border-bottom: 0.5px solid lightgray;}
.adm-content-center-main-body-top-search-input>input:focus{border: none; outline: none; border-bottom: 0.5px solid lightgray;}
.adm-content-center-main-body-top-search-btn{width: 8%; height: 50%; border-bottom: 0.5px solid lightgray; padding: 10px 0 0 5px; text-align: right;}
.adm-content-center-main-body-top-search-btn>a{text-decoration: none; color: black;}

.adm-content-center-main-body-content>div{width: 100%; height: 100%;}
.adm-content-center-main-body-inside>div{width: 100%; padding: 0 20px;}
.adm-content-center-main-body-row0{height: 10%;}
.adm-content-center-main-body-row1{height: 20%;}
.adm-content-center-main-body-blank{height: 5%;}
.adm-content-center-main-body-row2{height: 45%;}
.adm-content-center-main-body-row3{height: 20%;}

.adm-content-center-main-body-row1>div{width: 100%;}
.adm-announcement-title{height: 40%; font-size: 20px; padding-top: 15px;}
.adm-announcement-title-input{height: 60%;}
.adm-announcement-title-input>input{width: 100%; height: 100%; border: none; font-size: 18px; font-weight: bold; border-bottom: 0.5px solid lightgray;}
.adm-announcement-title-input>input:focus{border: none; outline: none; border-bottom: 0.5px solid lightgray;}

.adm-content-center-main-body-row2>div{width: 100%;}
.adm-announcement-content{height: 10%; font-size: 20px;}
.adm-announcement-content-input{height: 90%;}
.adm-announcement-content-input>textarea{width: 100%; height: 100%; resize: none; padding-top: 15px; border: none; border-bottom: 0.5px solid lightgray; font-size: 15px; font-weight: bold;}
.adm-announcement-content-input>textarea:focus{border: none; outline: none; border-bottom: 0.5px solid lightgray;}

.adm-content-center-main-body-row3 button{background-color: white; width: 70px; height: 50px; font-size: 15px; font-weight: bold; border: none; margin: 0 10px; transition: transform 0.3s ease-in-out;}
.adm-content-center-main-body-row3 button:hover{cursor: pointer; transform: scale(1.1);}

.center{text-align: center;}

