@charset "UTF-8";
/* 기본 셋업 */
.announcement_center_outer{width:100%; height: 1500px; padding: 0 250px;}
.announcement_center_outer>div{width:100%;}
.blank_top{height: 8%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.announcement_center_main{height: 87%; border:1px solid blue;}
.announcement_center_main>div{width: 100%;}
.announcement_center_main_top{height: 7%;}
.announcement_center_main_navi{height: 4%; border-bottom: 2px solid lightgray;}
.announcement_center_main_select{height: 18%;}
.announcement_center_main_content{height: 61%;}
.announcement_center_main_bottom{height: 10%;}

.announcement_center_main_top>div{width: 100%;}
.announcement_center_main_top_row1{height: 70%;}
.announcement_center_main_top_row2{height: 30%;}
.announcement_center_main_top_row1_title{text-align: center; margin-top: 6px;}
.announcement_center_main_top_row2_bottom{width: 5%; margin: auto; border-top: 2px solid black;}

.announcement_center_main_navi>div{width: 25%; height: 100%; line-height:210%; font-size: 25px; font-weight: 600; text-align: center;}
.announcement_center_main_navi a{color: gray; text-decoration: none;}
.announcement_center_main_navi a:hover {text-decoration: none; color: lightskyblue;}

.announcement_list_area{width: 100%; height: 100%;}


/* 메인 영역 끝 */
div{border:0.5px solid red;}