@charset "UTF-8";
/* 기본 셋업 */
.member_enroll_form_outer{width:100%; height: 1300px; padding: 0 250px; margin: auto;}
.member_enroll_form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.member_enroll_form_main{height: 80%; border:1px solid red;}

.enroll_form_outer{width: 550px; height: 1000px; margin: auto; padding:50px; border:0.5px solid lightgray; border-radius: 5px; background-color: white;}
.enroll_form_outer .enroll_input_frame{width: 100%; height: 70px;}
.enroll_input_frame{margin-top: 10px;}
.enroll_input_frame>div{width: 100%; height: 50%;}
.enroll_input_frame_row1>div{height: 100%;}
.enroll_input_frame_row1_col1{width: 30%;}
.enroll_input_frame_row1_col2{width: 70%; text-align: right; padding-right: 5px; color: red; font-weight: bold; font-size: 12px; line-height: 24px;}
.enroll_input_frame_row2 input{width: 100%; height: 100%;}

/* 이메일 */
.enroll_input_email>*{height: 100%;}
.enroll_input_email_header{width: 30%;}
.enroll_input_email_body{width: 4%; text-align: center;}
.enroll_input_email_footer{width: 32%; margin-right: 8px;}
.enroll_input_email_footer_select{width: 32%;}
.enroll_input_email_footer_select>*{width: 100%; height: 100%}

.enroll_input_frame_row2_email>input{border-radius: 5px;}
.domain__list{border-radius: 2px; height: 27px;}

.domain {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.domain .domain__list {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #d9d6d6;
  /* 리스트 안 보이게 하기 */
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: .3s;
}

.domain .domain__list.active {
  /* 리스트 보이기 */
  overflow-x : hidden;
  overflow-y : auto;
  opacity: 1;
  max-height: 60px;
}


/* 메인 영역 끝 */
.enroll_form_outer div{border: 1px solid blue;}