@charset "UTF-8";
/* 기본 셋업 */
.member_enroll_agreement_form_outer{width:100%; height: 1300px; padding: 0 250px; margin: auto;}
.member_enroll_agreement_form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.member_enroll_agreement_form_main{height: 80%;}

.shadow{
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
}

.enroll_agreement_form_outer{width: 550px; height: 1000px; margin: auto; padding:50px; border:0.5px solid lightgray; border-radius: 5px; background-color: white;}

.enroll_agreement_form_outer>div{width: 100%;}

.enroll_agreement_form_row1{height: 4%; border-bottom: 2px solid black;}

.enroll_agreement_form_row2{height: 5%; border-bottom: 1px solid lightgray;}
.enroll_agreement_form_row2>div{height: 100%; display: flex; align-items: center;}
.enroll_agreement_form_row2_col1{width: 93%;}
.enroll_agreement_form_row2_col2{width: 7%; display: flex; justify-content: right;}

.enroll_agreement_form_row3{height: 26%;}
.enroll_agreement_form_row3>div{width: 100%;}
.enroll_agreement_form_row3_row1{height: 25%;}
.enroll_agreement_form_row3_row1>div{height: 100%; display: flex; align-items: center;}
.enroll_agreement_form_row3_row1_col1{width: 93%;}
.enroll_agreement_form_row3_row1_col2{width: 7%; display: flex; justify-content: right;}
.enroll_agreement_form_row3_row2{height: 75%; overflow-y: scroll; height: 170px; padding: 20px; border: 1px solid lightgray; border-radius: 5px; font-size: 10px; color: gray;}

.enroll_agreement_form_row4{height: 26%;}
.enroll_agreement_form_row4>div{width: 100%;}
.enroll_agreement_form_row4_row1{height: 25%;}
.enroll_agreement_form_row4_row1>div{height: 100%; display: flex; align-items: center;}
.enroll_agreement_form_row4_row1_col1{width: 93%;}
.enroll_agreement_form_row4_row1_col2{width: 7%; display: flex; justify-content: right;}
.enroll_agreement_form_row4_row2{height: 75%; overflow-y: scroll; height: 170px; padding: 20px; border: 1px solid lightgray; border-radius: 5px; font-size: 10px; color: gray;}

.enroll_agreement_form_row5{height: 26%;}
.enroll_agreement_form_row5>div{width: 100%;}
.enroll_agreement_form_row5_row1{height: 25%;}
.enroll_agreement_form_row5_row1>div{height: 100%; display: flex; align-items: center;}
.enroll_agreement_form_row5_row1_col1{width: 93%;}
.enroll_agreement_form_row5_row1_col2{width: 7%; display: flex; justify-content: right;}
.enroll_agreement_form_row5_row2{height: 75%; overflow-y: scroll; height: 170px; padding: 20px; border: 1px solid lightgray; border-radius: 5px; font-size: 10px; color: gray;}

.enroll_agreement_form_row6{height: 15%;}
.enroll_agreement_form_row6>div{width: 100%;}
.enroll_agreement_form_row6_row1{height: 40%;}
.enroll_agreement_form_row6_row2{height: 60%;}
.enroll_agreement_form_row6_row2>button{width: 48%; height: 60%; border-radius: 25px;}
.enroll_agreement_form_row6_row2_btn1{background-color: white;}
.enroll_agreement_form_row6_row2_btn2{background-color: darkblue; color: white;}

.required {color: red;}

/* 체크박스 동그랗게 */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    line-height: 10px;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
    background-color: lightskyblue;
}

input[type="checkbox"]:checked + label:after {
    content: "∨";
    position: absolute;
    left: 4px;
    top: 3px;
    color: white;
}

/* 메인 영역 끝 */