@charset "UTF-8";
/* 기본 셋업 */
.mypage_outer{width:100%; height: 1000px; padding: 0 250px;}
.mypage_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.mypage_main{height: 80%; border:1px solid red;}
.mypage_main>div{height: 100%;}
.mypage_left_area{width: 19%; margin-right: 28px;}
.mypage_right_area{width: 79%;}

/* 좌측 영역 */
.mypage_left_area>div{width: 100%;}
.mypage_left_top{height: 29%; margin-bottom: 28px;}
.mypage_left_bottom{height: 69%;}

/* 우측 영역 */
.mypage_right_area>div{width: 100%;}
.mypage_right_top{height: 20%;}
.mypage_right_content{height: 40%; border-top: 2px solid black; border-bottom: 2px solid black;}
.mypage_right_bottom{height: 40%;}

.mypage_right_top>div{width: 100%;}
.mypage_right_top_root{height: 20%;}
.mypage_right_top_title{height: 80%;}
.mypage_right_top_title>h1{line-height: 250%; font-size: 50px;}

.mypage_right_content>div{height: 100%;}
.mypage_right_content_grade{width: 15%;}
.mypage_right_content_profile{width: 35%;}
.mypage_right_content_introduction{width: 50%;}

/* 메인 영역 끝 */
.mypage_main div{border: 0.5px solid blue;}