<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectQNAListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_QNA
		 WHERE QNA_STATUS = 'Y'
	</entry>

	<entry key="selectQNALimitList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, E.*
		          FROM (
		                SELECT
						       QNA_NO
						     , USER_NICKNAME
						     , QNA_TITLE
						     , QNA_CONTENT
						     , QNA_CREATE_DATE
						     , QNA_MODIFY_DATE
						     , QNA_ANSWER_STATUS
						     , QNA_STATUS
						  FROM TB_QNA
						  JOIN TB_MEMBER ON (USER_NO = QNA_WRITER)
						 WHERE QNA_STATUS = 'Y'
						 ORDER
						    BY QNA_NO DESC
		                 ) E 
		       ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertQNA">
		INSERT
		  INTO TB_QNA
		     (
		       QNA_NO
		     , QNA_WRITER
		     , QNA_TITLE
		     , QNA_CONTENT
		     )
		VALUES
		     (
		       SEQ_QNA_NO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO TB_ATTACHMENT
		     (
		       ATTACHMENT_NO
		     , ATTACHMENT_QNA_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		     , ATTACHMENT_LEVEL
		     )
		VALUES
		     (
		       SEQ_ATTACHMENT_NO.NEXTVAL
		     , SEQ_QNA_NO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , 1
		     )
	</entry>
	
	<entry key="selectQNA">
		SELECT
		       QNA_NO
		     , USER_NICKNAME
		     , QNA_WRITER
		     , QNA_TITLE
		     , QNA_CONTENT
		     , QNA_CREATE_DATE
		     , QNA_MODIFY_DATE
		     , QNA_ANSWER_STATUS
		  FROM TB_QNA
		  JOIN TB_MEMBER ON (USER_NO = QNA_WRITER)
		 WHERE QNA_STATUS = 'Y'
		   AND QNA_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       ATTACHMENT_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		  FROM TB_ATTACHMENT
		 WHERE ATTACHMENT_QNA_NO = ?
	</entry>
	
	<entry key="deleteQNA">
		UPDATE TB_QNA
		   SET QNA_STATUS = 'N'
		 WHERE QNA_NO = ?
	</entry>
	
	<entry key="updateQNA">
		UPDATE TB_QNA
		   SET QNA_TITLE = ?
		     , QNA_CONTENT = ?
		 WHERE QNA_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE
			   TB_ATTACHMENT
		   SET ATTACHMENT_ORIGIN_NAME = ?
		     , ATTACHMENT_UPDATE_NAME = ?
		     , ATTACHMENT_PATH = ?
		 WHERE ATTACHMENT_NO = ?
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT
		  INTO TB_ATTACHMENT
		     (
		       ATTACHMENT_NO
		     , ATTACHMENT_QNA_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		     , ATTACHMENT_LEVEL
		     )
		VALUES
		     (
		       SEQ_ATTACHMENT_NO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , 1
		     )
	</entry>
	
	<entry key="insertQNANotice">
		INSERT
		  INTO TB_NOTICE
		     (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_WRITER
		     , NOTICE_TYPE
		     , NOTICE_RECEIVER_NO
		     , NOTICE_QNA_NO
		     )
		VALUES
			 (
			   SEQ_NOTICE_NO.NEXTVAL
			 , 'Q&amp;A 등록'
			 , 'Q&amp;A 등록이 성공적으로 완료되었습니다. 추후 답변을 안내 드리겠습니다.'
			 , 1
			 , 3
			 , ?
			 , SEQ_QNA_NO.CURRVAL
			 )
	</entry>
	
	<entry key="deleteQNANotice">
		INSERT
		  INTO TB_NOTICE
		     (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_WRITER
		     , NOTICE_TYPE
		     , NOTICE_RECEIVER_NO
		     , NOTICE_QNA_NO
		     )
		VALUES
			 (
			   SEQ_NOTICE_NO.NEXTVAL
			 , 'Q&amp;A 삭제'
			 , '관리자에 의해, 등록하신 Q&amp;A 가 삭제되었습니다. Q&amp;A 게시판 이용원칙을 준수해주시기 바랍니다.'
			 , 1
			 , 3
			 , ?
			 , ?
			 )
	</entry>
	
	<entry key="selectQNAReply">
		SELECT
		       REPLY_NO
		     , REPLY_CONTENT
		     , REPLY_REF_NO
		     , USER_NICKNAME
		     , REPLY_CREATE_DATE
		     , REPLY_MODIFY_DATE
		     , REPLY_STATUS
		  FROM TB_REPLY
		  JOIN TB_MEMBER ON (USER_NO = REPLY_WRITER)
		 WHERE REPLY_REF_NO = ?
	</entry>
	
	<entry key="deleteReply">
		 DELETE FROM TB_REPLY
		  WHERE REPLY_REF_NO = ?
	</entry>
	
	<entry key="deleteReplyNotice">
		INSERT
		  INTO TB_NOTICE
		     (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_WRITER
		     , NOTICE_TYPE
		     , NOTICE_RECEIVER_NO
		     , NOTICE_QNA_NO
		     )
		VALUES
			 (
			   SEQ_NOTICE_NO.NEXTVAL
			 , 'Q&amp;A 답변 삭제'
			 , '관리자에 의해, 등록하신 Q&amp;A 내 답변이 삭제되었습니다. 추후, 답변이 재업로드될 예정입니다.'
			 , 1
			 , 3
			 , ?
			 , ?
			 )
	</entry>
	
	<entry key="updateReply">
		UPDATE TB_REPLY
		   SET REPLY_CONTENT = ?
		 WHERE REPLY_REF_NO = ?
	</entry>
	
	<entry key="insertReply">
		INSERT
		  INTO TB_REPLY
		  	 (
		  	   REPLY_NO
		  	 , REPLY_CONTENT
		  	 , REPLY_REF_NO
		  	 , REPLY_WRITER
		  	 , REPLY_STATUS
		  	 )
		VALUES
			 (
			   SEQ_REPLY_NO.NEXTVAL
			 , ?
			 , ?
			 , 1
			 , 'Y'
			 )
	</entry>
	
	<entry key="insertReplyNotice">
		INSERT
		  INTO TB_NOTICE
		     (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_WRITER
		     , NOTICE_TYPE
		     , NOTICE_RECEIVER_NO
		     , NOTICE_QNA_NO
		     )
		VALUES
			 (
			   SEQ_NOTICE_NO.NEXTVAL
			 , 'Q&amp;A 답변 등록'
			 , '등록하신 Q&amp;A 내 답변이 등록되었습니다.'
			 , 1
			 , 3
			 , ?
			 , ?
			 )
	</entry>
	
	<entry key="updateQNAStatusR">
		UPDATE TB_QNA
		   SET QNA_ANSWER_STATUS = ?
		 WHERE QNA_NO = ?
	</entry>
	
</properties>