<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectQNAListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_QNA
		 WHERE QNA_STATUS = 'Y'
	</entry>

	<entry key="selectQNALimitList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, E.*
		          FROM (
		                SELECT
						       QNA_NO
						     , USER_NICKNAME
						     , QNA_TITLE
						     , QNA_CONTENT
						     , QNA_CREATE_DATE
						     , QNA_MODIFY_DATE
						     , QNA_ANSWER_STATUS
						  FROM TB_QNA
						  JOIN TB_MEMBER ON (USER_NO = QNA_WRITER)
						 WHERE QNA_STATUS = 'Y'
						 ORDER
						    BY QNA_NO DESC
		                 ) E 
		       ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertQNA">
		INSERT
		  INTO TB_QNA
		     (
		       QNA_NO
		     , QNA_WRITER
		     , QNA_TITLE
		     , QNA_CONTENT
		     )
		VALUES
		     (
		       SEQ_QNA_NO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO TB_ATTACHMENT
		     (
		       ATTACHMENT_NO
		     , ATTACHMENT_QNA_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		     , ATTACHMENT_LEVEL
		     )
		VALUES
		     (
		       SEQ_ATTACHMENT_NO.NEXTVAL
		     , SEQ_QNA_NO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , 1
		     )
	</entry>
	
	<entry key="selectQNA">
		SELECT
		       QNA_NO
		     , USER_NICKNAME
		     , QNA_TITLE
		     , QNA_CONTENT
		     , QNA_CREATE_DATE
		     , QNA_MODIFY_DATE
		     , QNA_ANSWER_STATUS
		  FROM TB_QNA
		  JOIN TB_MEMBER ON (USER_NO = QNA_WRITER)
		 WHERE QNA_STATUS = 'Y'
		   AND QNA_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       ATTACHMENT_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		  FROM TB_ATTACHMENT
		 WHERE ATTACHMENT_QNA_NO = ?
	</entry>
	
	<entry key="deleteQNA">
		UPDATE TB_QNA
		   SET QNA_STATUS = 'N'
		 WHERE QNA_NO = ?
	</entry>
	
</properties>