<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		  FROM TB_MEMBER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND USER_STATUS IN ('Y','A')
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO TB_MEMBER
		  (
		    USER_NO
		  , USER_ID
		  , USER_PWD
		  , USER_NAME
		  , USER_SSN
		  , USER_NICKNAME
		  , USER_PHONE
		  , USER_EMAIL
		  , USER_ADDRESS
		  , USER_MARKETING
		  )
		  VALUES
		  (
		    SEQ_USER_NO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM TB_MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="selectMemberList">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		  FROM TB_MEMBER
	</entry>
	
	<entry key="selectMemberLimitList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, E.*
		          FROM (
		                SELECT
		                       USER_NO
						     , USER_ID
						     , USER_PWD
						     , USER_NAME
						     , USER_SSN
						     , USER_NICKNAME
						     , USER_PHONE
						     , USER_EMAIL
						     , USER_ADDRESS
						     , USER_PROFILE
						     , USER_GRADE
						     , USER_MARKETING
						     , USER_ENROLL_DATE
						     , USER_MODIFY_DATE
						     , USER_TYPE
						     , USER_STATUS
						  FROM TB_MEMBER
		                 ORDER
		                    BY USER_NO DESC
		                 ) E 
		       ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMemberListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_MEMBER
		 WHERE USER_STATUS = 'Y'
	</entry>
	
</properties>