<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "USER_IMG"
		  FROM TB_MEMBER
		  JOIN TB_ATTACHMENT ON (USER_NO = ATTACHMENT_USER_NO)
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND USER_STATUS IN ('Y','A')
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO TB_MEMBER
		  (
		    USER_NO
		  , USER_ID
		  , USER_PWD
		  , USER_NAME
		  , USER_SSN
		  , USER_NICKNAME
		  , USER_PHONE
		  , USER_EMAIL
		  , USER_ADDRESS
		  , USER_MARKETING
		  )
		  VALUES
		  (
		    SEQ_USER_NO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertMemberAttachment">
		INSERT
	      INTO TB_ATTACHMENT
			  (
			    ATTACHMENT_NO
			  , ATTACHMENT_USER_NO
			  , ATTACHMENT_ORIGIN_NAME
			  , ATTACHMENT_UPDATE_NAME
			  , ATTACHMENT_PATH
			  , ATTACHMENT_LEVEL
			  )
			  VALUES
			  (
			    SEQ_ATTACHMENT_NO.NEXTVAL
			  , SEQ_USER_NO.CURRVAL
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM TB_MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="searchId">
		SELECT
		       USER_ID
		  FROM TB_MEMBER
		 WHERE USER_NAME = ?
		   AND USER_EMAIL = ?
		   AND USER_STATUS = 'Y'
    </entry>
    
    <entry key="searchPw">
		SELECT
		       USER_PWD
		  FROM TB_MEMBER
		 WHERE USER_ID = ?
		   AND USER_NAME = ?
		   AND USER_EMAIL = ?
		   AND USER_STATUS = 'Y'
	</entry>
		   
	<entry key="selectMemberList">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "USER_IMG"
		  FROM TB_MEMBER
		  JOIN TB_ATTACHMENT ON (USER_NO = ATTACHMENT_USER_NO)
	</entry>
	
	<entry key="selectMemberLimitList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, E.*
		          FROM (
		                SELECT
		                       USER_NO
						     , USER_ID
						     , USER_PWD
						     , USER_NAME
						     , USER_SSN
						     , USER_NICKNAME
						     , USER_PHONE
						     , USER_EMAIL
						     , USER_ADDRESS
						     , USER_PROFILE
						     , USER_GRADE
						     , USER_MARKETING
						     , USER_ENROLL_DATE
						     , USER_MODIFY_DATE
						     , USER_TYPE
						     , USER_STATUS
						     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "USER_IMG"
		  				  FROM TB_MEMBER
		  				  JOIN TB_ATTACHMENT ON (USER_NO = ATTACHMENT_USER_NO)
		                 ORDER
		                    BY USER_NO DESC
		                 ) E 
		       ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMemberListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_MEMBER
		 WHERE USER_STATUS = 'Y'
	</entry>
	
	<entry key="memberSearchId">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "USER_IMG"
		  FROM TB_MEMBER
		  JOIN TB_ATTACHMENT ON (USER_NO = ATTACHMENT_USER_NO)
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="updateMemberBanAllow">
		UPDATE TB_MEMBER
		   SET USER_STATUS = ?
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE TB_MEMBER
		   SET USER_STATUS = 'N'
		     , USER_MODIFY_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="updateMember">
		UPDATE
		       TB_MEMBER
		   SET USER_PHONE = ?
		     , USER_EMAIL = ?
		     , USER_ADDRESS = ?
		     , USER_MARKETING = ?
		     , USER_PROFILE = ?
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="updateMemberAttachment">
		UPDATE
			   TB_ATTACHMENT
		   SET ATTACHMENT_USER_NO = ?
		     , ATTACHMENT_ORIGIN_NAME = ?
		     , ATTACHMENT_UPDATE_NAME = ?
		     , ATTACHMENT_PATH = ?
		 WHERE ATTACHMENT_NO = ?
	</entry>
	
	<entry key="selectMember">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , USER_NICKNAME
		     , USER_PHONE
		     , USER_EMAIL
		     , USER_ADDRESS
		     , USER_PROFILE
		     , USER_GRADE
		     , USER_MARKETING
		     , USER_ENROLL_DATE
		     , USER_MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "USER_IMG"
		  FROM TB_MEMBER
		  JOIN TB_ATTACHMENT ON (USER_NO = ATTACHMENT_USER_NO)
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectMemberAttachment">
		SELECT
		       ATTACHMENT_NO
		     , ATTACHMENT_ORIGIN_NAME
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		  FROM TB_ATTACHMENT
		 WHERE ATTACHMENT_USER_NO = ?
	</entry>
	
</properties>