<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectMemberNoticeAllList">
		SELECT
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , USER_NICKNAME "NOTICE_WRITER"
		     , TO_CHAR(NOTICE_CREATE_DATE, 'YYYY.MM.DD') "NOTICE_CREATE_DATE"
		     , NOTICE_TYPE
		     , NOTICE_STATUS
		     , NOTICE_RECEIVER_NO
		  FROM TB_NOTICE
		  JOIN TB_MEMBER ON (USER_NO = NOTICE_WRITER)
	</entry>
	
	<entry key="selectMemberNoticeTypeList">
		SELECT
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , USER_NICKNAME "NOTICE_WRITER"
		     , TO_CHAR(NOTICE_CREATE_DATE, 'YYYY.MM.DD') "NOTICE_CREATE_DATE"
		     , NOTICE_TYPE
		     , NOTICE_STATUS
		     , NOTICE_RECEIVER_NO
		  FROM TB_NOTICE
		  JOIN TB_MEMBER ON (USER_NO = NOTICE_WRITER)
		 WHERE NOTICE_TYPE = ?
	</entry>
	
</properties>