<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectThumbnailList">
		SELECT
		       PROJECT_NO
		     , PJ_CATEGORY_NO
		     , PJ_CATEGORY_NAME
		     , PROJECT_TITLE
		     , PROJECT_OVERVIEW
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		     , PROJECT_END
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND ATTACHMENT_LEVEL = 1
		 ORDER
		    BY PROJECT_START
		     , PROJECT_NO DESC
	</entry>
	
	<entry key="selectThumbnailListByOptionA">
		<![CDATA[
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY PROJECT_START
				     , PROJECT_NO DESC
		        )
		 WHERE FUNDING <= 50
		 ]]>
	</entry>
	
	<entry key="selectThumbnailListByOptionB">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY PROJECT_START
				     , PROJECT_NO DESC
		        )
		 WHERE FUNDING BETWEEN 50 AND 100
	</entry>
	
	<entry key="selectThumbnailListByOptionC">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY PROJECT_START
				     , PROJECT_NO DESC
		        )
		 WHERE FUNDING >= 100
	</entry>
	
	<entry key="selectRankThumbnailList">
		SELECT
		       PROJECT_NO
		     , PJ_CATEGORY_NO
		     , PJ_CATEGORY_NAME
		     , PROJECT_TITLE
		     , PROJECT_OVERVIEW
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		     , PROJECT_END
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND ATTACHMENT_LEVEL = 1
		 ORDER
		    BY FUNDING DESC
	</entry>
	
	<entry key="selectRankThumbnailListByOptionA">
		<![CDATA[
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING <= 50
		 ]]>
	</entry>
	
	<entry key="selectRankThumbnailListByOptionB">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING BETWEEN 50 AND 100
	</entry>
	
	<entry key="selectRankThumbnailListByOptionC">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING >= 100
	</entry>
	
	<entry key="selectCategoryList">
		SELECT
		       PJ_CATEGORY_NO
		     , PJ_CATEGORY_NAME
		  FROM TB_PJ_CATEGORY
	</entry>
	
	<entry key="selectCategoryThumbnailList">
		SELECT
		       PROJECT_NO
		     , PJ_CATEGORY_NO
		     , PJ_CATEGORY_NAME
		     , PROJECT_TITLE
		     , PROJECT_OVERVIEW
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		     , PROJECT_END
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND ATTACHMENT_LEVEL = 1
           AND PJ_CATEGORY_NO = ?
		 ORDER
		    BY PROJECT_START
		     , PROJECT_NO DESC
	</entry>
	
	<entry key="selectCategoryThumbnailListByOptionA">
		<![CDATA[
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				   AND PJ_CATEGORY_NO = ?
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING <= 50
		 ]]>
	</entry>
	
	<entry key="selectCategoryThumbnailListByOptionB">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				   AND PJ_CATEGORY_NO = ?
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING BETWEEN 50 AND 100
	</entry>
	
	<entry key="selectCategoryThumbnailListByOptionC">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , PROJECT_OVERVIEW
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				   AND PJ_CATEGORY_NO = ?
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING >= 100
	</entry>
	
	<entry key="selectProject">
		SELECT
		       PROJECT_NO
		     , PROJECT_SELLER
		     , PROJECT_OVERVIEW
		     , PROJECT_TITLE
		     , PROJECT_CONTENT
		     , PROJECT_TAG
		     , PROJECT_PRICE
		     , PROJECT_START
		     , PROJECT_END
		     , PROJECT_PAYMENT_BUYER
		     , PROJECT_PAYMENT_SELLER
		     , PJ_CATEGORY_NO
		     , PJ_CATEGORY_NAME
		     , SELLER_FUNDING
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND PROJECT_NO = ?
	</entry>
	
	<entry key="selectAttachmentList">
		SELECT
		       ATTACHMENT_NO
		     , ATTACHMENT_UPDATE_NAME
		     , ATTACHMENT_PATH
		  FROM TB_ATTACHMENT
		 WHERE ATTACHMENT_PROJECT_NO = ?
	</entry>
	
	<entry key="selectProjectBuyer">
		SELECT COUNT(*) "COUNT"
		  FROM TB_BUYER
		 WHERE BUYER_PROJECT_NO = ?
	</entry>
	
	<entry key="selectProjectLiker">
		SELECT COUNT(*) "COUNT"
		  FROM TB_LIKES
		 WHERE LIKES_PROJECT_NO = ?
	</entry>
	
	<entry key="selectCategoryNo">
		SELECT PJ_CATEGORY_NO
		  FROM TB_PJ_CATEGORY
		 WHERE PJ_CATEGORY_NAME = ?
	</entry>
	
</properties>