<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectThumbnailList">
		SELECT
		       PROJECT_NO
		     , PJ_CATEGORY_NAME
		     , PROJECT_TITLE
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		     , PROJECT_END
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND ATTACHMENT_LEVEL = 1
		 ORDER
		    BY PROJECT_START
		     , PROJECT_NO DESC
	</entry>
	
	<entry key="selectRankThumbnailList">
		SELECT
		       PROJECT_NO
		     , PJ_CATEGORY_NAME
		     , PROJECT_TITLE
		     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
		     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
		     , PROJECT_END
		  FROM TB_PROJECT
		  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
		  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
		  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
		 WHERE PROJECT_STATUS = 'Y'
		   AND ATTACHMENT_LEVEL = 1
		 ORDER
		    BY FUNDING DESC
	</entry>
	
	<entry key="selectRankThumbnailListByOptionA">
		<![CDATA[
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING <= 50
		 ]]>
	</entry>
	
	<entry key="selectRankThumbnailListByOptionB">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING BETWEEN 50 AND 100
	</entry>
	
	<entry key="selectRankThumbnailListByOptionC">
		SELECT *
		  FROM (
		        SELECT
				       PROJECT_NO
				     , PJ_CATEGORY_NAME
				     , PROJECT_TITLE
				     , ATTACHMENT_PATH || ATTACHMENT_UPDATE_NAME "TITLEIMG"
				     , TRUNC(SELLER_FUNDING / PROJECT_PRICE * 100) "FUNDING"
				     , PROJECT_END
				  FROM TB_PROJECT
				  JOIN TB_PJ_CATEGORY ON (PROJECT_CATEGORY_NO = PJ_CATEGORY_NO)
				  JOIN TB_ATTACHMENT ON (PROJECT_NO = ATTACHMENT_PROJECT_NO)
				  JOIN TB_SELLER ON (PROJECT_NO = SELLER_PROJECT_NO)
				 WHERE PROJECT_STATUS = 'Y'
				   AND ATTACHMENT_LEVEL = 1
				 ORDER
				    BY FUNDING DESC
		        )
		 WHERE FUNDING >= 100
	</entry>
	
</properties>