@charset "UTF-8";
/* 기본 셋업 */
.project_detail_outer{width:100%; height: 1500px; padding: 0 300px;}
.project_detail_outer>div{width:100%;}
.blank_top{height: 9%;}
.blank_bottom{height: 3%;}

/* 메인 영역 시작 */
.project_detail_main{height: 88%;}
.project_detail_main>div{width: 100%;}
.project_detail_top{height: 37%; padding: 40px;}
.project_detail_blank{height: 3%; padding: 40px;}
.project_detail_content{height: 60%; padding: 40px;}

.project_detail_top>div{height: 100%;}
.project_detail_top_left{width: 40%;}
.project_detail_top_blank{width: 15%;}
.project_detail_top_right{width: 45%;}

.project_detail_top_right>div{width: 100%;}
.project_detail_top_category{height: 5%;}
.project_detail_top_title{height: 10%; border-bottom: 1px solid black;}
.project_detail_top_overview{height: 45%;}
.project_detail_top_info{height: 40%;}

.project_detail_top_category>div{height: 100%;}
.project_detail_top_category_col1{width: 20%;}
.project_detail_top_category_col2{width: 60%;}
.project_detail_top_category_col3{width: 20%; text-align: right;}

.project_detail_top_title>div{height: 100%;}
.project_detail_top_title_col1{width: 85%;}
.project_detail_top_title_col2{width: 5%;}
.project_detail_top_title_col3{width: 10%; padding-top: 15px;}

.project_detail_top_overview>div{width: 100%;}
.project_detail_top_overview_row1{height: 70%;}
.project_detail_top_overview_row2{height: 30%;}

.project_detail_top_overview_row1>div{width: 100%;}
.project_detail_top_overview_row1_title{height: 35%; padding-top: 10px;}
.project_detail_top_overview_row1_content{height: 65%;}

.project_detail_top_overview_row1_content>div{height: 100%;}
.project_detail_top_overview_row1_content_col1{width: 50%;}
.project_detail_top_overview_row1_content_col2{width: 40%;}
.project_detail_top_overview_row1_content_col3{width: 10%; text-align:right; padding-top: 20px;}

.project_detail_top_overview_row2>div{width: 50%; height: 100%;}

.project_detail_top_overview_row2_col1>div{height: 100%;}
.project_detail_top_overview_row2_col1_title{width: 75%; padding-top: 15px;}
.project_detail_top_overview_row2_col1_content{width: 25%;}

.project_detail_top_overview_row2_col2>div{height: 100%;}
.project_detail_top_overview_row2_col2_title{width: 75%; padding: 15px 0 0 20px;}
.project_detail_top_overview_row2_col2_content{width: 25%; text-align: right;}

.project_detail_top_overview_row2_col2_content>div{height: 100%;}
.project_detail_top_overview_row2_col2_content_col1{width: 40%;}
.project_detail_top_overview_row2_col2_content_col2{width: 10%;}
.project_detail_top_overview_row2_col2_content_col3{width: 50%;}

.project_detail_top_info>div{width: 100%;}
.project_detail_top_info_row1{height: 60%; padding: 10px 0; border-top: 0.5px solid lightgray;}
.project_detail_top_info_row2{height: 40%; padding: 10px 0;}

.project_detail_top_info_row2>div{height: 100%;}
.project_detail_top_info_row2>div:hover{cursor: pointer;}
.project_detail_top_info_row2_btn1{width: 11%; text-align: center; padding: 4px; background-color: #f1f1f1;}
.project_detail_top_info_row2_btn2{width: 11%; text-align: center; padding: 4px; margin: 0 10px;}
.project_detail_top_info_row2_btn3{width: 45%; text-align: center; margin-right: 10px; padding: 10px 20px 8px 20px; color: white; background-color: lightskyblue;}
.project_detail_top_info_row2_btn3>a{text-decoration: none;}
.project_detail_top_info_row2_btn3>a:hover{text-decoration: none;}
.project_detail_top_info_row2_blank{width: 27%;}
.project_detail_top_info_row2_blank>span{width: 50%; height: 100%; display: flex; justify-content: center; align-items: center; text-align: center;}

.project_detail_top_info_row2_btn1>div, .project_detail_top_info_row2_btn2>div{width: 100%; height: 50%;} 

.likesContainer{position: relative;}

.fundingNow{font-size: 40px;}
.fundingDday{font-size: 30px; color: skyblue;}

.project_detail_blank>div{width: 100%; height: 100%; border-top: 0.5px solid lightgray;}

.project_detail_content>div{height: 100%;}
.project_detail_content_col1{width: 60%;}
.project_detail_content_col2{width: 5%;}
.project_detail_content_col3{width: 35%;}

.project_detail_content_col1>div{width: 100%;}
.project_detail_content_col1_row1{height: 30%;}
.project_detail_content_col1_row2{height: 5%;}
.project_detail_content_col1_row3{height: 30%;}
.project_detail_content_col1_row4{height: 5%;}
.project_detail_content_col1_row5{height: 30%;}

.project_detail_content_col1_row1>div{width: 100%;}
.project_detail_content_project_title{height: 15%; background-color: lightskyblue; text-align: center; padding-top: 3px;}
.project_detail_content_project_content{height: 85%; padding: 5px 0 0 5px;}

.project_detail_content_col1_row3>div{width: 100%;}
.project_detail_content_project_seller_title{height: 15%; background-color: lightskyblue; text-align: center; padding-top: 3px;}
.project_detail_content_project_seller_content{height: 85%;}

.project_option_content>div{width: 100%; height: 30%;}
.project_option_content>div>div{width: 50%; height: 100%;}
.project_option_content_row2{margin: 8px 0;}

.project_detail_content_project_seller_content>div{width: 100%; height: 50%;}
.project_seller_info_row1>div{height: 100%;}
.project_seller_info_row1_img{width: 13%;}
.project_seller_info_row1_text{width: 87%;}

.project_seller_info_row1_text>div{width: 100%; height: 50%; padding: 8px 0 0 5px;}

.project_seller_info_row2{border-top: 0.5px solid lightgray;}
.project_seller_info_row2>div{width: 50%; height: 100%;}
.project_seller_info_count1{border-right: 0.5px solid lightgray;}

.project_detail_content_col1_row5>div{width: 100%;}
.project_option_title{height: 15%; background-color: lightskyblue; text-align: center; padding-top: 3px;}
.project_option_content{height: 85%; padding: 5px 0 0 5px;}

.project_option_content-row1_col1, .project_option_content-row2_col1, project_option_content-row3_col1{border-right: 0.5px solid lightgray;}

.project_detail_content_col3>div{width: 100%;}
.project_detail_chat_top{height: 5%; text-align: center; padding-top: 7px; background-color: lightskyblue;}
.project_detail_chat_middle{height: 85%; overflow-y: auto; padding: 5px;}
.project_detail_chat_bottom{height: 10%; background-color: lightskyblue;}

.project_detail_chat_middle_none{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;  text-align: center;}
.project_detail_chat_middle_list{width: 100%; height: 15%; margin-bottom: 30px;}
.project_detail_chat_middle_list>div{width: 100%; height: 100%;}

.project_chat_notMy>div{height: 100%;}
.project_chat_notMy_col1{width: 15%;}
.project_chat_notMy_col2{width: 75%;}
.project_chat_notMy_col3{width: 10%; text-align: center; padding-top: 66px;}
.project_chat_notMy_col3:hover{cursor: pointer;}

.project_chat_notMy_col1>div{width: 100%;}
.project_chat_notMy_col1_row1{height: 70%; text-align: center; padding-top: 15px;}
.project_chat_notMy_col1_row2{height: 30%; text-align: center;}

.project_chat_notMy_col2>div{width: 100%;}
.project_chat_notMy_col2_row1{height: 30%; padding: 5px 0 0 5px;}
.project_chat_notMy_col2_row2{height: 70%; border-radius: 10px; padding: 5px 10px 0 10px; background-color: lightskyblue;}

.project_chat_my>div{height: 100%; padding-left: 10px;}
.project_chat_my_col1{width: 85%;}
.project_chat_my_col2{width: 15%;}

.project_chat_my_col1>div{width: 100%;}
.project_chat_my_col1_row1{height: 30%;}
.project_chat_my_col1_row2{height: 70%; border-radius: 10px; padding: 5px 10px 0 10px; background-color: lightyellow;}

.project_chat_my_col2>div{width: 100%;}
.project_chat_my_col2_row1{height: 70%; text-align: center; padding: 25px 1px 0 0;}
.project_chat_my_col2_row2{height: 30%; text-align: center;}

.project_detail_chat_bottom>div{height: 100%;}
.project_detail_chat_bottom_col1{width: 10%; text-align: center; padding: 7px 7px 0 0;}
.project_detail_chat_bottom_col2{width: 74%; overflow-y: auto;}
.project_detail_chat_bottom_col3{width: 15%; margin-left: 3px;}

.project_detail_chat_bottom_col2>input{width: 100%; height: 100%; padding-left: 15px; border-radius: 25px;}
.project_detail_chat_bottom_col3>button{width: 100%; height: 100%; border-radius: 25px;}

.project_detail_top_left>div{width: 100%; height: 100%;}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.slide-holder {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    min-width: 100%;
    height: 400px;
}

.slide:not(:first-child) {display: none;}

#pjBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background: transparent;
    border: none;
}

.prev {left: 10px;}
.next {right: 10px;}

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: lightgray;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {background: gray;}
/* 메인 영역 끝 */