@charset "UTF-8";
/* 기본 셋업 */
.project_enroll_form_outer{width:100%; height: 1000px; padding: 0 300px;}
.project_enroll_form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.project_enroll_form_main{height: 80%;}
.project_enroll_form_main>div{width: 100%;}
.project_enroll_form_main_title{height: 7%;}
.project_enroll_form_main_top{height: 78%;}
.project_enroll_form_main_blank{height: 5%;}
.project_enroll_form_main_bottom{height: 10%; justify-content: center; align-items: center; display: flex;}

.project_enroll_form_main_title>div{height: 100%;}
.project_enroll_form_main_title_col1{width: 30%; padding-top: 13px; text-align: left; font-weight: bold; font-size: 25px;}
.project_enroll_form_main_title_col2{width: 60%;}
.project_enroll_form_main_title_col3{width: 10%; padding: 15px 0 0 30px;}
.project_enroll_form_main_title_col3>a{text-decoration: none; justify-content: center; font-weight: bold; align-items: center; display: flex;}
.project_enroll_form_main_title_col3>a:hover{text-decoration: none; color: white; font-weight: bold;}

.project_enroll_form_main_top>div{height: 100%;}
.project_enroll_form_main_top_left{width: 49%;}
.project_enroll_form_main_top_blank{width: 2%;}
.project_enroll_form_main_top_right{width: 49%;}

.project_enroll_form_main_top_left>.project_enroll_left_form{width: 100%; height: 15%; margin-bottom: 10px;}
.project_enroll_left_form>div{width: 100%; height: 50%;}
.project_enroll_left_form_row1>div{height: 100%;}
.project_enroll_title{width: 40%; padding-top: 15px; font-size: 12px; font-weight: bold;}
.project_enroll_inspection{width: 60%;}
.project_enroll_left_form_row2 input{width: 100%; height: 100%; border: none; border-bottom: 0.5px solid lightgray;}
.project_enroll_left_form_row2 input:focus{border: none; outline: none; border-bottom: 0.5px solid lightgray;}
.project_enroll_left_form_row2>textarea{width: 100%; height: 200%; resize: none; border-radius: 5px;}

.pjContainer {display: flex; height: 10%;}
.pjContainer>div{height: 80%;}
.category{width: 65%; padding-top: 15px; font-size: 12px; font-weight: bold;}
.select-box {width: 35%; position: relative;}
.select-button {width: 100%; height: 100%; background-color: white; border: none; border-bottom: 0.5px solid lightgray;}
.select-list {
  display: none;
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}
.select-list li {padding: 8px; background-color: white;}
.select-list li:hover {background-color: #f3f3f3; cursor: pointer;}

.redBorder {border-bottom: 0.5px solid red;}
.blueBorder {border-bottom: 0.5px solid blue;}
.project_enroll_right_price *{font-size: 14px; font-weight: bold;}

.project_enroll_form_main_top_right>div{width: 100%; height: 50%;}

.project_enroll_right_price_form{height: 40%;}
.project_enroll_right_tax_form{height: 50%;}

.project_enroll_right_price_form>div{width: 100%; height: 50%;}

.project_enroll_right_price>div{width: 100%;}

.project_enroll_price_top_row1{height: 40%;}
.project_enroll_price_top_row1>div{height: 100%;}
.project_enroll_price_top_row1_col1{width: 15%;}
.project_enroll_price_top_row1_col2{width: 85%;}
.project_enroll_price_top_row1_col2>input{width: 100%; height: 100%; text-align: right; padding-right: 10px; border: none;}
.project_enroll_price_top_row1_col2>input:focus{border: none; outline: none;}
.project_enroll_left_form_row2 textarea:focus{border: none; outline: none; border: 0.5px solid lightgray;}

.project_enroll_price_top_row2{height: 60%;}

.project_enroll_price_bottom>div{height: 100%;}
.project_enroll_price_bottom_col1{width: 60%;}
.project_enroll_price_bottom_col2{width: 40%; text-align: right; padding-right: 10px;}
.project_enroll_price_bottom_col2>span{color: skyblue;}

.project_enroll_right_tax_form *{color: gray;}
.project_enroll_right_tax_form>div{width: 100%;}
.project_enroll_right_tax_row1{height: 20%; border-top: 0.5px solid lightgray;}
.project_enroll_right_tax_row2{height: 20%;}
.project_enroll_right_tax_row3{height: 20%;}

.project_enroll_right_tax_row1>div{height: 100%;}
.project_enroll_right_tax_row1_col1{width: 70%;}
.project_enroll_right_tax_row1_col2{width: 30%; text-align: right; padding-right: 10px;}

.project_enroll_right_tax_row2>div{height: 100%;}
.project_enroll_right_tax_row2_col1{width: 70%;}
.project_enroll_right_tax_row2_col2{width: 30%; text-align: right; padding-right: 10px;}

.project_enroll_right_tax_row3>div{height: 100%;}
.project_enroll_right_tax_row3_col1{width: 70%;}
.project_enroll_right_tax_row3_col2{width: 30%; text-align: right; padding-right: 10px;}

.project_enroll_form_main_bottom>button{width:10%; height: 50px; border-radius: 25px;}
.project_enroll_form_btn1{background-color: white;}
.project_enroll_form_btn2{background-color: lightgray; color: white;}

.project_enroll_inspection{color: red; font-size: 12px; text-align: right; padding-top: 18px;}
/* 메인 영역 끝 */
