@charset "UTF-8";

.project_search_view_outer {
	width: 100%;
	height: 750px;
	padding: 0 300px;
}

.blank_top {
	height: 15%;
}

.project_search_view_main{
	height: 550px;
	overflow: scroll;
}
.project_search_view_main::-webkit-scrollbar {display:none;}

.tbody_main td {
	height: 300px;
	width: 250px;
	margin: 10px;
}

.tbody_main>tr {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.project_area_body_row1{
	text-align: left;
}

.project_area_body_row2{
	text-align: left;
}