@charset "UTF-8";
/* 기본 셋업 */
.mypage_notices_Form_outer{width:100%; height: 1000px; padding: 0 300px; border: box-sizing;}
.mypage_notices_Form_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.mypage_notices_Form_main{height: 80%;}
.mypage_notices_Form_main>div{height: 100%;}

.mypage_notices_Form_left{width: 200px;}
.mypage_notices_Form_right{width: 1101px; background-color: white;}

.mypage_notices_Form_right>div{width: 100%;}
.mypage_notices_Form_right_content1{height: 100%;}

.mypage_notices_Form_right_content1>div{width: 100%;}
.mypage_notices_Form_right_root{height: 34px;}
.mypage_notices_Form_right_title{height: 55px; padding-top: 7px;}
.mypage_notices_Form_right_list{height: 84%;}

.mypage_notices_Form_right_list>div{width: 100%;}
.notices_btn_area{height: 10%; padding: 17px 0 0 10px; border-bottom: 0.5px solid lightgray;}
.notices_notices_area{height: 90%;}

.notices_btn_area button{background-color: white; border:none;}

.notices_notices_area>div{height: 20%;}
.notices_area_left{width: 10%;}
.notices_area_right{width: 90%;}

.notices_area_right>div{width: 100%;}
.notices_area_right_row1{height: 30%;}
.notices_area_right_row2{height: 70%;}

.notices_area_right_row1>div{height: 100%;}
.notices_area_right_row1_title{width: 30%;}
.notices_area_right_row1_blank{width: 50%;}
.notices_area_right_row1_date{width: 20%;}

/* 메인 영역 끝 */
.mypage_notices_Form_right_list div{border: 0.5px solid skyblue;}